body {
	background-color: #F2F2F2;
	padding-top: 43px;
	overflow-x: hidden;
}
header {
	max-width: 540px;
	min-width: 320px;
	width: 100%;
	height: 43px;
	position: fixed;
	top: 0px;
	left: 50%;
	transform: translatex(-50%);
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 7px 50px 0px 9px;
	box-sizing: border-box;
	background-color: #F6F6F6;
	z-index: 10;
}
a {
	text-decoration: none;
}
header div {
	width: 100%;
	height: 26px;
	box-sizing: border-box;
	padding-left: 25px;
	border: 1px solid #999999;
	border-radius: 5px;
	font-size: 12px;
	line-height: 26px;
	color: #666666;
	box-shadow: 0px 0px 1px rgba(0,0,0,.4);
}
header div::before {
	content: "";
	position: absolute;
	top: 13px;
	left: 18px;
	width: 12px;
	height: 13px;
	background: url(../images/icon.png) -60px -279px no-repeat;
	background-size: 104px 327.5px;
}
header a {
	position: absolute;
	right: 12px;
	top: 4px;
	width: 29px;
	height: 36px;
	padding-top: 23px;
	background: url(../images/icon.png) -57px -192.5px no-repeat;
	background-size: 104px 327.5px;
	box-sizing: border-box;
	font-size: 12px;
	line-height: 15px;
	color: #2DAAE2;
}
/*头部部分完成*/
.banner {
	position: relative;
	max-width: 540px;
	min-width: 320px;
	height: 107px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	/*background: url(../images/banner.jpg) no-repeat;*/
	/*background-size: 100% 100%;*/
}
/* 滚动轮播图的布局关键是: ul的宽度足够宽， 所有的图片要并排在一起; */
.banner #carousel {
	position: absolute;
	width: 600%;
	height: 100%;
	left: 0;
	top: 0;
}
.banner #carousel li {
	float: left;
	width: 16.66%;
}
.banner #carousel li img{
	display: block;
	width: 100%;
	height: 100%;
}

/*banner部分完成*/
section {
	max-width: 540px;
	min-width: 320px;
	width: 100%;
	height: 377px;
	margin: 0 auto;
	padding: 5px 5px 0px 5px;
	box-sizing: border-box;
}
section ul:not(:last-child) {
	margin-bottom: 5px;
	height: 90px;
}
section ul li {
	float: left;
	width: 33.3%;
	height: 45px;
	background-color: #FF697A;
	text-align: center;
	position: relative;
}
section ul:nth-child(2) li {
	background-color: #3D99FF;
}
section ul:nth-child(3) li {
	background-color: #44C522;
}
section ul:nth-child(4) li {
	background-color: #FC9721;
}
/*设置颜色完成*/
/*开始布局*/
section ul:not(:last-child) li:first-child {
	height: 90px;
	border-right: 1px solid #fff;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-sizing: border-box;
}
section ul:not(:last-child) li:nth-child(2) {
	border-bottom:1px solid #fff;
	box-sizing: border-box;
}
section ul:not(:last-child) li:nth-child(3) {
	border-left:1px solid #fff;
	border-bottom:1px solid #fff;
	box-sizing: border-box;
	border-top-right-radius: 5px;
}
section ul:not(:last-child) li:nth-child(5) {
	border-left:1px solid #fff;
	box-sizing: border-box;
	border-bottom-right-radius: 5px;
}
/*单独设置最后一个ul样式*/
section ul:last-child li:first-child {
	height: 45px;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-top-left-radius: 5px;
	box-sizing: border-box;
}
section ul:last-child li:nth-child(2) {
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	box-sizing: border-box;
}
section ul:last-child li:nth-child(3) {
	border-bottom: 1px solid #fff;
	border-top-right-radius: 5px;
	box-sizing: border-box;
}
section ul:last-child li:nth-child(4) {
	border-right: 1px solid #fff;
	border-bottom-left-radius: 5px;
	box-sizing: border-box;
}
section ul:last-child li:nth-child(5) {
	border-right: 1px solid #fff;
	box-sizing: border-box;
}
section ul:last-child li:nth-child(6) {
	border-bottom-right-radius: 5px;
}
/*统一设置字体*/
section ul li a {
	font-size: 14px;
	line-height: 46px;
	color: #FFFDFE;

}
section ul:not(:last-child) li:first-child a::after {
	content: "";
	width: 42px;
	height: 33px;
	position: absolute;
	top: 43px;
	left: 50%;
	transform: translatex(-50%);
	background: url(../images/icon.png) 0px -130px no-repeat;
	background-size: 104px 327.5px;
}
/*副导航栏完成*/
nav {
	max-width: 540px;
	min-width: 320px;
	width: 100%;
	height: 174px;
	margin: 8px auto 0px;
	padding: 0px 5px;
	box-sizing: border-box;
}
nav ul li {
	width: 25%;
	height: 58px;
	float: left;
	background-color: #fff;
	border-right: 1px solid #F2F2F2;
	border-bottom: 1px solid #F2F2F2;
	box-sizing: border-box;
	text-align: center;
	padding-top: 37px;
	position: relative;
}
nav ul li a {
	color: #000000;
}
nav ul li:nth-child(1) {
	border-top-left-radius: 5px;
}
nav ul li:nth-child(4) {
	border-top-right-radius: 5px;
}
nav ul li:nth-child(4n) {
	border-right: none;
}
nav ul li:nth-child(n+9) {
	border-bottom: none;
}
/*结构调整完成*/
/*中间内容区域书写*/
nav ul li a::after {
	content: "";
	width: 20px;
	height: 20px;
	background: url(../images/sub.png) 0px -80px no-repeat;
	background-size: 20px 315px;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translatex(-50%);
}
.main {
	width: 100%;
	height: 264px;
	margin: 8px auto 0px;
	background-color: #fff;
	max-width: 540px;
	min-width: 320px;
	padding: 16px 8px 13px 9px;
	box-sizing: border-box;
}
/*内容区域上部分书写*/
.main .top>h1 {
	display: inline-block;
	width: 56px;
	height: 15px;
	background: url(../images/un_home_text.png) no-repeat;
	background-size: 79px 57.5px;
	padding-left: 56px;
	box-sizing: border-box;
	overflow: hidden;
	margin-top: 4px;
}
.main .top>a {
	display: block;
	width: 102px;
	height: 20px;
	float: right;
	border-radius: 10px;
	line-height: 20px;
	font-size: 12px;
	color: #fff;
	background-image: -webkit-linear-gradient(bottom right,#FF516C,#FE6BC3 60%);
	text-indent: 1em;
}
.main .top>a span {
	display: inline-block;
	width: 7px;
	height: 7px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(45deg);
}
/*内容区域下左部分书写*/
.left {
	width: 50%;
	height: 205px;
	margin-top: 15px;
	position: relative;
	float: left;
	padding-right: 2px;
	box-sizing: border-box;
}
.left>img {
	width: 100%;
	height: 117px;
}
.left>span {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 37px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	color: #fff;
	background-color: #FC3A52;
	text-align: center;
}
.left>span::after {
	content: "";
	position: absolute;
	top: 0px;
	left: 27px;
	width: 0;
	height: 0;
	border: 10px solid #FC3A52;
	border-color: #FC3A52 transparent transparent;
	border-top-width: 20px;
}
.left>div {
	height: 88px;
	width: 100%;
	box-sizing: border-box;
	padding-top: 0px;
	line-height: 21px;
	font-size: 12px;
	padding-top: 9.5px;
	padding-left: 9px;
	color: #000;
	background-color: #F9F9F9;

}
.left>div p:first-child {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
	overflow: hidden;
}
.left>div p:last-child {
	font-size: 14px;
	line-height: 22px;
	color: #FF485C;
}
.left>div p:last-child span:first-child {
	font-size: 10px;
}
.left>div p:last-child span:last-child {
	display: inline-block;
	width: 53px;
	height: 14px;
	border-radius: 7px;
	background-color: #FC3A52;
	color: #fff;
	line-height: 14px;
	text-align: center;
}
/*内容区域下右部分书写*/
.right {
	float: right;
	height: 204px;
	width: 50%;
	padding-top: 13px;
	padding-left: 2px;
	box-sizing: border-box;
}
.right>div:first-child {
	height: 88px;
	width: 100%;
	background: #F9F9F9 url(../images/qiandaizi.png) right bottom no-repeat;
	background-size: 53.5px 71px;
	padding: 12px 0px 0px 12px;
	box-sizing: border-box;
}
.right>div:first-child>h3 {
	font-size: 12px;
	color: #FC3B4E;
	font-weight: bold;
}
.right>div:first-child>p {
	font-size: 12px;
	line-height: 30px;
	color: #454440;
}
.right>div:last-child {
	margin-top: 5px;
	height: 112px;
	width: 100%;
	background-color: #F9F9F9;
}
.right>div:last-child div:first-child {
	float: left;
	height: 100%;
	width: 50%;
	border-right: 2px solid #fff;
	padding-top: 12px;
	box-sizing: border-box;
	text-align: center;
	font-size: 13px;
	position: relative;
}
.right>div:last-child div:first-child h3 {
	color: #6AABFF;
	font-weight: bold;
}
.right>div:last-child div:first-child p {
	font-size: 12px;
	line-height: 28px;
	color: #444444;
}
.right>div:last-child div:first-child p span {
	color: #6AABFF;
}
.right>div:last-child div:last-child {
	float: right;
	height: 100%;
	width: 50%;
	border-left: 2px solid #fff;
	padding-top: 12px;
	box-sizing: border-box;	
	text-align: center;
	font-size: 13px;
	position: relative;
}
.right>div:last-child div:last-child h3 {
	color: #54CB71;
	font-weight: bold;
}
.right>div:last-child div:last-child p {
	font-size: 12px;
	line-height: 28px;
	color: #444444;
}
.right>div:last-child div:last-child p span {
	color: #54CB71;
}
/*右下结构完成*/
.right>div:last-child div:first-child::after {
	content: "";
	position: absolute;
	background: url(../images/feiji.png) no-repeat;
	background-size: 100% 100%;
	width: 44.5px;
	height: 35px;
	left: 50%;
	bottom: 8px;
	transform: translatex(-50%);
}
.right>div:last-child div:last-child::after {
	content: "";
	position: absolute;
	background: url(../images/pic-tmh-03.png) no-repeat;
	background-size: 100% 100%;
	width: 48px;
	height: 35px;
	left: 50%;
	bottom: 8px;
	transform: translatex(-50%);
}
/*广告栏部分完成*/
.active {
	max-width: 540px;
	min-width: 320px;
	width: 100%;
	margin: 10px auto;
	height: 450px;
}
.active .atop {
	height: 47px;
	width: 100%;
	padding: 12px 9px 0px 10px;
	box-sizing: border-box;
	background-color: #fff;
	border-bottom: 1px solid #DBDBDB;
}
.active .atop>h3 {
	float: left;
	height: 20px;
	width: 116px;
	background: url(../images/un_home_text.png) 0px -18px no-repeat;
	background-size: 79px 57.5px;
	color: transparent;
}
.active .atop>h3 span {
	display: inline-block;
	width: 36px;
	height: 16px;
	background: url(../images/icon-gg@2x.png) no-repeat;
	background-size: 36px 15px;
	margin-left: 20px;
	margin-top: 3px;
}
.active .atop>a {
	display: block;
	width: 102px;
	height: 20px;
	float: right;
	border-radius: 10px;
	line-height: 20px;
	font-size: 12px;
	color: #fff;
	background-image: -webkit-linear-gradient(bottom right,#FF516C,#FE6BC3 60%);
	text-indent: 1em;
}
.active .atop>a span {
	display: inline-block;
	width: 7px;
	height: 7px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(45deg);
}
.pic {
	height: 406px;
	width: 100%;
}
.pic li{
	float: left;
	width: 50%;
}
.pic li a img {
	width: 100%;
	height: 135px;
}
.pic li:first-child a img {
	width: 100%;
	height: 272px;
}
.pic li:first-child {
	border-right: 1px solid #DBDBDB;
	box-sizing: border-box;
}
.pic li:nth-child(4) {
	border-right: 1px solid #DBDBDB;
	box-sizing: border-box;
}
.pic li:nth-child(4) a img {
	width: 100%;
}
footer {
	max-width: 540px;
	min-width: 320px;
	width: 100%;
	height: 50px;
	margin: 0 auto;
	background-color: #fff;
}
footer ul {
	width: 100%;
	height: 100%;
	display: -webkit-box;
}
footer ul li p {
	height: 42px;
	padding-top: 30px;
	box-sizing: border-box;
	text-align: center;
	position: relative;
}
footer ul li p::after {
	content: "";
	background: url(../images/icon.png) -58.5px -153px;
	background-size: 104px 327.5px;
	width: 18px;
	height: 17.5px;
	position: absolute;
	top: 7px;
	left: 50%;
    transform: translatex(-9px);
}
footer ul li:nth-child(1) {
	-webkit-box-flex: 1;
}
footer ul li:nth-child(2) {
	-webkit-box-flex: 1;
}
footer ul li:nth-child(3) {
	-webkit-box-flex: 1;
}
.bbtm {
	height: 53px;
	width: 638px;
	text-align: center;
	margin: 0 auto;
	padding-top: 10px;
	box-sizing: border-box;
	border-bottom: 1px solid black;
	position: absolute;
	left: 50%;
	transform: translatex(-319px);
}
.bbtm p:nth-child(1) {
	font-size: 13px;
	line-height: 13px;
	color: #7C6593;
}
.bbtm p:nth-child(2) {
	line-height: 34px;
	font-size: 12px;
	color: #BEA398;
}